body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
  border: 2px solid transparent; /* add a transparent border */
  border-radius: 4px;
  transition: border 0.2s; /* add a transition to the border property */

}

a:hover,
a:focus {
  border-color: #333; /* change the border color to #333 on hover */

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #333;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header, footer {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  align-items: center;

}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

main {
  padding: 100px 0;
}

main h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

main p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

main .cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #0077c9;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

main .cta-button:hover {
  background-color: #0066b3;
}

main img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 40px;
}


footer {
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #999;
}
